<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Smarphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <section>
        
        <article>
            <!-- Producto 1 -->
            <div class="img_producto">
                <img src="/images/img-phone-1.jpg"">
            </div>
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut culpa, repudiandae doloremque cumque repellendus nulla quia distinctio fugiat omnis quae illo minus velit excepturi. Ullam accusamus fugit doloremque dolores?</p>
            <a href="">ver mas</a>
        </article>
        <article>
            <!-- Producto 2 -->
            <div class="img_producto">
                <img src="/images/img-phone-02.jpg"">
            </div>
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut culpa, repudiandae doloremque cumque repellendus nulla quia distinctio fugiat omnis quae illo minus velit excepturi. Ullam accusamus fugit doloremque dolores?</p>
            <a href="">ver mas</a>
        </article>
        <article>
            <!-- Producto 3 -->
            <div class="img_producto">
                <img src="/images/img-phone-03.jpg"">
            </div>
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut culpa, repudiandae doloremque cumque repellendus nulla quia distinctio fugiat omnis quae illo minus velit excepturi. Ullam accusamus fugit doloremque dolores?</p>
            <a href="">ver mas</a>
        </article>
        <article>
            <!-- Producto 4 -->
            <div class="img_producto">
                <img src="/images/img-phone-1.jpg"">
            </div>
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut culpa, repudiandae doloremque cumque repellendus nulla quia distinctio fugiat omnis quae illo minus velit excepturi. Ullam accusamus fugit doloremque dolores?</p>
            <a href="">ver mas</a>
        </article>
        <article>
            <!-- Producto 5 -->
            <div class="img_producto">
                <img src="/images/img-phone-02.jpg"">
            </div>
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut culpa, repudiandae doloremque cumque repellendus nulla quia distinctio fugiat omnis quae illo minus velit excepturi. Ullam accusamus fugit doloremque dolores?</p>
            <a href="">ver mas</a>
        </article>
        <article>
            <!-- Producto 6 -->
            <div class="img_producto">
                <img src="/images/img-phone-03.jpg"">
            </div>
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut culpa, repudiandae doloremque cumque repellendus nulla quia distinctio fugiat omnis quae illo minus velit excepturi. Ullam accusamus fugit doloremque dolores?</p>
            <a href="">ver mas</a>
        </article>
      </section>
      <aside>
            <section>
                <h2>Tutoriales</h2>
                <article>
                    <div>
                        <img src="/images/aside-01.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <div>
                        <img src="/images/aside-02.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <div>
                        <img src="/images/aside-03.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                    <div>
                        <img src="/images/aside-04.jpg" alt="">
                    </div>
                    <p>Titulo de tutorial de reparacion</p>
                </article>
            </section>
            <section>
                <h2>Publicidad</h2>
                <div>
                    <a href="google.com">
                        <img src="/images/Public-01.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a href="google.com">
                        <img src="/images/Public-02.jpg" alt="">
                    </a>
                </div>
            </section>
      </aside>
    </main>
  </body>
</html>
